/* ==========================
    ヘッダーロゴの設定
   ========================== */
.logo-img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

/* ==========================
    ページ全体の設定
   ========================== */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
